body{
    font-family: Roboto, sans-serif;
    color: #232227;
    background: url("../images/background.jpg") no-repeat;
    backdrop-filter: blur(5px);
    background-size: cover;
    height: 100vh;
}

.header {
    width: 100%;
    margin: 0 auto 20px;
    padding: 10px;
    background-color: hsla(0, 0%, 0%, 0.16);
}

.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    opacity: 0.7;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: 0 auto;
}

#user-name {
    display: none;
    margin: 10px;
}

.name {
    color: #fff;
    font-size: 20px;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    background: #006cba;
}

.wrapper{
    width: 1280px;
    margin: 0 auto;
    height: 800px;
    background: #f5f6f8;
    border-radius: 10px;
}

.columns{
    padding: 35px;
    display: grid;
    grid-gap: 35px;
    grid-template-columns: repeat(4, 1fr);
}

.columns__column{
    padding-bottom: 40px;
}

.columns__column h2{
    font-size: 15px;
    color: #48474d;
}

.counter{
    margin-left: 10px;
    background: #eaebef;
    color: #9e9fa4;
    padding: 9px;
    border-radius: 50%;
    width: 55px;
    height: 55px;
}


.hide {
    display: none;
}

#loginForm, #registerForm {
    padding: 20px;
    max-width: 400px;
    background: #eaebef;
    border-radius: 10px;
    font-size: 14px;

    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    z-index: 99999;
    opacity: 1;
}

input {
    width: 100%;
    height: 30px;

    margin: 0 0 10px;
    padding: 5px;

    border-radius: 10px;
    border: none;
}

.btn-submit {
    display: block;
    width: 100%;
    height: 30px;
    padding: 5px;
    color: #fff;
    background-color: #4d90fe;

    border: none;
    border-radius: 10px;
}

.btn-submit:hover {
    background: #006cba;
    color: #fff;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #fff;
    margin: 1em 0;
    padding: 0;
}

#auth:before {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    content: '';
    background: #000;
    opacity: 0.7;

    z-index: 9999;
}

#loginForm a, #registerForm a {
    margin-top: 10px;
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.cards_wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    height: 700px;
    overflow-y: auto;
}

.cards_wrapper::-webkit-scrollbar-track{
    border-radius: 4px;
}

.cards_wrapper::-webkit-scrollbar{
    width: 6px;
}

.cards_wrapper::-webkit-scrollbar-thumb{
    border-radius: 4px;
    background: #f5f6f8;
}

.cards_wrapper:hover::-webkit-scrollbar-thumb{
    background: #232227;
}

.card{
    position: relative;
    padding: 15px;
    border-radius: 10px;
    background: #ffffff;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 8px 4px -2px rgba(0, 0, 0, .2);
}

.card_menu{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    border: none;
    background: #fff;
}

.card_menu:focus{
    outline: none;
}

.card_menu img{
    width: 16px;
    height: 16px;
}

.card h3{
    font-size: 24px;
    color: #232227;
    margin: 10px 0;
}

.hide {
    display: none;
}

.modal-form {
    padding: 20px;
    max-width: 400px;
    background: #eaebef;
    border-radius: 10px;
    font-size: 14px;

    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    z-index: 99999;
    opacity: 1;
}

input {
    width: 100%;
    height: 30px;

    margin: 0 0 10px;
    padding: 5px;

    border-radius: 10px;
    border: none;
}

.btn-submit {
    display: block;
    width: 100%;
    height: 30px;
    padding: 5px;
    color: #fff;
    background-color: #4d90fe;

    border: none;
    border-radius: 10px;
}

.btn-submit:hover {
    background: #006cba;
    color: #fff;
    cursor: pointer;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #fff;
    margin: 1em 0;
    padding: 0;
}

.modal:before {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    content: '';
    background: #000;
    opacity: 0.7;

    z-index: 9999;
}

.modal-form .link {
    margin-top: 10px;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}
.close {
    position: absolute;
    right: 32px;
    top: 20px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}
.close:hover {
    opacity: 1;
    cursor: pointer;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

#btn-right {
    padding: 10px;
    font-size: 20px;
}

#btn-login, #btn-reg {
    text-decoration: none;
    color: #fff;
    background-color: #0787e7;
    padding: 5px;
    border-radius: 5px;
}

#btn-reg {
    color: #006cba;
    background-color: #ffffff;
}

#btn-login:hover{
    background-color: #005493;
    cursor: pointer;
}

#btn-reg:hover {
    cursor: pointer;
    background-color: #005493;
    color: white;
}

#context_menu{
    display: none;
    position: absolute;
    padding: 10px 0;
    width: 150px;
    box-shadow: 1px 1px 2px #cfcfcf;
    background: #fff;
    z-index: 10;
}

#context_menu ul li{
    list-style-type: none;
}

#context_menu ul a{
    display: block;
    cursor: pointer;
    padding: 6px 12px;
}

#context_menu ul a img{
    height: 16px;
    width: 16px;
    float: left;
}

#context_menu ul a:hover{
    background: #0066aa;
    color: #fff;
}

.context_menu_text{
    margin-left: 5px;
    margin-top: 2px;
}
