body {
    font-family: Roboto, sans-serif;
    color: #232227;
    background: url("../images/background.jpg") no-repeat fixed;
    background-size: cover;
    height: 100vh;
}

.header {
    width: 100%;
    margin: 0 auto 20px;
    padding: 10px;
    background-color: hsla(0, 0%, 0%, 0.16);
}

.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    opacity: 0.7;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: 0 auto;
}

#userName {
    display: none;
    line-height: 44px;
}

.name {
    color: #fff;
    font-size: 20px;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    background: #006cba;
}

#loginButtonsContainer {
    padding: 10px;
    font-size: 20px;
}

#loginButton,
#registrationButton,
#userName button {
    text-decoration: none;
    color: #fff;
    background-color: #0787e7;
    padding: 5px;
    border-radius: 5px;
}

#registrationButton,
#userName button {
    color: #006cba;
    background-color: #ffffff;
}

#loginButton:hover {
    background-color: #005493;
    cursor: pointer;
}

#registrationButton:hover,
#userName button:hover {
    cursor: pointer;
    background-color: #005493;
    color: white;
}

#userName button {
    border: 0;
    margin-left: 10px;
    font-size: 20px;
    width: 80px;
    outline: none;
}

.hide {
    display: none;
}

#loginForm, #registerForm,
.modalForm {
    padding: 20px;
    max-width: 400px;
    background: #eaebef;
    border-radius: 10px;
    font-size: 14px;

    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    z-index: 99999;
    opacity: 1;
}

#registerForm input,
#loginForm input {
    width: 100%;
    height: 30px;

    margin: 0 0 10px;
    padding: 5px;

    border-radius: 10px;
    border: none;
}

.close {
    position: absolute;
    right: 32px;
    top: 20px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    cursor: pointer;
}

.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #333;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.submitAuthButton {
    display: block;
    width: 100%;
    height: 30px;
    padding: 5px;
    color: #fff;
    background-color: #4d90fe;

    border: none;
    border-radius: 10px;
}

.submitAuthButton:hover {
    background: #006cba;
    color: #fff;
}

.submitAuthButton:hover {
    background: #006cba;
    color: #fff;
    cursor: pointer;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #fff;
    margin: 1em 0;
    padding: 0;
}

#registration,
#login {
    cursor: default;
}

#registration span,
#login span {
    color: black;
    cursor: pointer;
    font-weight: 600;
}

#auth:before,
.modal:before {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    content: '';
    background: #000;
    opacity: 0.7;

    z-index: 9999;
}

#loginForm a, #registerForm a,
.modalForm .link {
    margin-top: 10px;
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.wrapper {
    width: 1280px;
    margin: 0 auto;
    height: 90vh;
    background: #f5f6f8;
    border-radius: 10px;
}

.columns {
    padding: 35px;
    display: grid;
    grid-gap: 35px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 80vh;
}

.columns__column {
    padding-bottom: 40px;

    position: relative;
}

.columns__column h2 {
    font-size: 15px;
    color: #48474d;
}

.cards_wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
}

.cards_wrapper::-webkit-scrollbar-track {
    border-radius: 4px;
}

.cards_wrapper::-webkit-scrollbar {
    width: 6px;
}

.cards_wrapper::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #f5f6f8;
}

.cards_wrapper:hover::-webkit-scrollbar-thumb {
    background: #232227;
}

.card {
    position: relative;
    padding: 15px;
    border-radius: 10px;
    background: #ffffff;
    max-width: 250px;
    word-wrap: break-word;
    margin-bottom: 20px;
    box-shadow: 0 8px 4px -2px rgba(0, 0, 0, .2);
}

.card_delete {
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
    border: none;
    background: #fff;
}

.card_edit {
    position: absolute;
    right: 50px;
    top: 10px;
    cursor: pointer;
    border: none;
    background: #fff;
}

.card_delete:focus, .card_edit:focus {
    outline: none;
}

.card_delete img, .card_edit img {
    width: 16px;
    height: 16px;
}

.card h3 {
    font-size: 24px;
    color: #232227;
    margin: 10px 0;
    cursor: default;
}

.card p {
    cursor: default;
}

#editCardModal, #deleteCardModal {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

#addCardModal {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.editModalInputs,
#createCardModal {
    position: relative;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 410px;
    margin-left: -250px;
    margin-top: -190px;
    background-color: #f5f6f8;
    z-index: 100;
    border-radius: 10px;
}

.editModalInputs form,
#createCardModal form {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
}

.editModalInputs label,
#createCardModal label {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;
    padding: 7px;
}

.editModalInputs input,
.editModalInputs textarea,
#createCardModal input,
#createCardModal textarea {
    font-family: 'Roboto', sans-serif;
    width: 90%;
    margin: 0 auto;
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}

.editModalInputs textarea,
#createCardModal textarea {
    resize: none;
}

.editModalInputs button:first-child,
#createCardModal button:first-child {
    display: block;
    margin-left: auto;
    margin-bottom: -30px;
    background-color: inherit;
    border: 0;
    padding: 5px;
    cursor: pointer;
    outline: none;
}

.editModalInputs button:first-child img,
#createCardModal button:first-child img {
    width: 25px;
    height: 25px;
}

.editModalInputs button:last-child,
#createCardModal button:last-child {
    margin: 20px auto 0 auto;
    background-color: #006cba;
    outline: none;
    border: 0;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    width: 50%;
    border-radius: 10px;
}

.editModalInputs button:last-child:disabled,
#createCardModal button:last-child:disabled {
    background-color: gray;
}

.modal_delete_options {
    position: absolute;
    margin: auto;
    padding: 20px;
    top: 40%;
    left: 0;
    right: 0;
    width: 300px;
    height: 100px;
    background-color: #f5f6f8;
    z-index: 100;
    border-radius: 5px;
}

#deleteCardModal h2 {
    text-align: center;
    font-size: 14px;
}

#delete_yes, #delete_no {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    position: absolute;
    cursor: pointer;
    width: 100px;
    height: 40px;
    border-radius: 5px;
}

#delete_yes {
    left: 30px;
    bottom: 10px;
    background: #006cba;
    border: none;
    color: #fff;
}

#delete_yes:hover {
    background: #006ced;
}

#delete_yes:active {
    box-shadow: inset 1px 1px 10px -1px
}

#delete_no {
    right: 30px;
    bottom: 10px;
    background: #cb0b13;
    border: none;
    color: #ffffff;
}

#delete_no:hover {
    background: #cb0b45;
}

#delete_no:active {
    box-shadow: inset 1px 1px 10px -1px
}

#delete_no:focus, #delete_yes:focus {
    outline: none;
}

.addCard {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 30px;

    border-radius: 5px;
    border: none;

    background-color: rgba(0, 0, 0, 0.1);
    color: #f5f6f8;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.addCard:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.addCard:focus {
    outline: none;
}